:root{
    --font-padrao: 'Niagara Solid', sans-serif;
    
}
/*ESTILIZANDO O HEADER */

body{
    background-color: rgb(243, 0, 0);
    margin: 50px 25px 50px 25px;
    padding: 0px;
    font-family: var(font-padrao);
    
}    


h1,h2,h3,h4{
    font-family: var(--font-padrao);
    
}

header {
    display: flex;
    margin-left: 130px;
    justify-content: space-between;
    
}
    header img {
    width: 230px;

    }
    header,#cabecalho{
    margin-right: 130px;
    }

    header h1{
        margin-top: 0px;
        color: #ffffff;
        font-size: 160px;
        font-weight: 400;
        font-family: var(--font-padrao);
        height:40px;
    }
    header h2{
        color: #ffffff;
        font-size: 60px;
        height: 35px;
        text-align: center;
        font-weight: 400;
    }
    header h3{
        text-align: right;
        text-decoration: underline;
        font-size: 25px;
        color:#ffffff;
        font-weight: 400;
    }

    /*ESTILIZANDO O MENU DE NAVEGAÇÃO*/

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1px;
}    
    a {
        text-decoration: none;
        font-style: bold;
        font-family: var(--font-padrao);
        font-weight: 500;
        font-size: 42px;
        color: rgba(217, 217, 217, 0.5);
        
    }

    /*ESTILIZANDO O TEXTO PRINCIPAL*/

main h2{
    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 75px;
    text-align: center;

}

    /*ALINHANDO O VIDEO NO MEIO DA PÁGINA*/
    main #video {
        text-align: center;
    }